@page
@model TrackingChain.TriageWebApplication.Pages.Admin.AccountProfileGroups.IndexModel

<div class="container mt-4">
    <a class="btn btn-primary" asp-page="Create">Create New</a>
    <br />
    <form asp-page="./Index" method="get">
        <div class="form-actions no-color">
            <p>
                Find by Name and Profile and Contract:
                <input type="text" name="SearchString" value="@Model.CurrentFilter" />
                <input type="submit" value="Search" class="btn btn-primary" /> |
                <a asp-page="./Index">Back to full List</a>
            </p>
        </div>
    </form>
    <div class="table-responsive mt-4">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>
                        <a asp-page="./Index"
                           asp-route-sortOrder="@Model.NameSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.AccountProfileGroups[0].Name)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index"
                           asp-route-sortOrder="@Model.AccountNameSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.AccountProfileGroups[0].Account)
                        </a>
                    </th>
                    <th>
                        <a asp-page="./Index"
                           asp-route-sortOrder="@Model.ProfileGroupNameSort"
                           asp-route-currentFilter="@Model.CurrentFilter">
                            @Html.DisplayNameFor(model => model.AccountProfileGroups[0].ProfileGroup)
                        </a>
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.AccountProfileGroups[0].Priority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.AccountProfileGroups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Account.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ProfileGroup.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-page="./Edit" asp-route-accountId="@item.AccountId" asp-route-profileGroupId="@item.ProfileGroupId">Edit</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-accountId="@item.AccountId" asp-route-profileGroupId="@item.ProfileGroupId">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="total-items">
        @{
            var itemShowEnd = Model.PageSize * (Model.AccountProfileGroups.PageIndex - 1) + Model.AccountProfileGroups.Count;
            var itemShowStart = itemShowEnd - Model.AccountProfileGroups.Count + 1;
        }
        Showing @itemShowStart of @itemShowEnd items out of @Model.TotalItems.
    </div>
    <div class="pagination">
        @if (Model.AccountProfileGroups.HasPreviousPage &&
        Model.AccountProfileGroups.TotalPages > 5)
        {
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="1" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">First</a>
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.AccountProfileGroups.PageIndex - 1)" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">Previous</a>
        }

        @for (int i = Math.Max(1, Model.AccountProfileGroups.PageIndex - 2); i <= Math.Min(Model.AccountProfileGroups.TotalPages, Model.AccountProfileGroups.PageIndex + 2); i++)
        {
            <a class="page-link @(i == Model.AccountProfileGroups.PageIndex ? "active" : "")" asp-page="./Index" asp-route-pageIndex="@i" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">@i</a>
        }

        @if (Model.AccountProfileGroups.HasNextPage &&
        Model.AccountProfileGroups.TotalPages > 5)
        {
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.AccountProfileGroups.PageIndex + 1)" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">Next</a>
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@Model.AccountProfileGroups.TotalPages" asp-route-currentFilter="@Model.CurrentFilter" asp-route-sortOrder="@Model.CurrentSort">Last</a>
        }
    </div>
</div>
