@page
@model TrackingChain.TriageWebApplication.Pages.Admin.TrackingErrors.IndexModel
@{
}

<div class="container mt-4">
    <div class="table-responsive mt-4">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRegistries[0].TrackingId)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRegistries[0].Code)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRegistries[0].TriageDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRegistries[0].TransactionStep)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.TransactionRegistries[0].TransactionErrorReason)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.TransactionRegistries)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.TrackingId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Code)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TriageDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionStep)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TransactionErrorReason)
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-page="./Manage" asp-route-id="@item.TrackingId">Manage</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="total-items">
        @{
            var itemShowEnd = Model.PageSize * (Model.TransactionRegistries.PageIndex - 1) + Model.TransactionRegistries.Count;
            var itemShowStart = itemShowEnd - Model.TransactionRegistries.Count + 1;
        }
        Showing @itemShowStart of @itemShowEnd items out of @Model.TotalItems.
    </div>
    @if (Model.TransactionRegistries.HasPreviousPage)
    {
        <a asp-page="./Index" class="pagination" asp-route-pageIndex="@(Model.TransactionRegistries.PageIndex - 1)">Previous</a>
    }

    @if (Model.TransactionRegistries.HasNextPage)
    {
        <a asp-page="./Index" class="pagination" asp-route-pageIndex="@(Model.TransactionRegistries.PageIndex + 1)">Next</a>
    }
</div>
