@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Trackings.PendingsModel

<div class="container mt-4">
    <div class="table-responsive mt-4">
    <table class="tracking-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].TrackingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].Locked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].Completed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].ReceivedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPendings[0].TriageDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransactionPendings)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TriageDate)
                    </td>
                    <td>
                            <a class="btn btn-info btn-sm" asp-page="./PendingDetails" asp-route-id="@item.TrackingId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    </div>
    <div class="total-items">
        @{
            var itemShowEnd = Model.PageSize * (Model.TransactionPendings.PageIndex - 1) + Model.TransactionPendings.Count;
            var itemShowStart = itemShowEnd - Model.TransactionPendings.Count + 1;
        }
        Showing @itemShowStart of @itemShowEnd items out of @Model.TotalItems.
    </div>
    <div class="pagination">
        @if (Model.TransactionPendings.HasPreviousPage)
        {
            <a class="page-link" asp-page="./Pendings" asp-route-pageIndex="1">First</a>
            <a class="page-link" asp-page="./Pendings" asp-route-pageIndex="@(Model.TransactionPendings.PageIndex - 1)">Previous</a>
        }

        @for (int i = Math.Max(1, Model.TransactionPendings.PageIndex - 2); i <= Math.Min(Model.TransactionPendings.TotalPages, Model.TransactionPendings.PageIndex + 2); i++)
        {
            <a class="page-link @(i == Model.TransactionPendings.PageIndex ? "active" : "")" asp-page="./Pendings" asp-route-pageIndex="@i">@i</a>
        }

        @if (Model.TransactionPendings.HasNextPage)
        {
            <a class="page-link" asp-page="./Pendings" asp-route-pageIndex="@(Model.TransactionPendings.PageIndex + 1)">Next</a>
            <a class="page-link" asp-page="./Pendings" asp-route-pageIndex="@Model.TransactionPendings.TotalPages">Last</a>
        }
    </div>
</div>
