@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Trackings.PendingsModel

<div class="table-responsive mt-4">
    <table class="tracking-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].TrackingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].Locked)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].Completed)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].ReceivedDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionPending[0].TriageDate)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransactionPending)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Locked)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Completed)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ReceivedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TriageDate)
                    </td>
                    <td>
                        <a asp-page="./PendingDetails" asp-route-id="@item.TrackingId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
