@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Trackings.PoolDetailsModel

<div>
    <h4>TransactionPool</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.Completed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.Completed)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.GeneratingFrom)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.GeneratingFrom)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.Locked)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.Locked)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.LockedBy)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.LockedBy)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.LockedDated)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.LockedDated)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.Priority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.Priority)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.TriageDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.TriageDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.ErrorTimes)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.ErrorTimes)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.Code)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.Code)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.DataValue)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.DataValue)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.ReceivedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.ReceivedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.ChainNumberId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.ChainNumberId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.ChainType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.ChainType)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.SmartContractId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.SmartContractId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.SmartContractAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.SmartContractAddress)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.SmartContractExtraInfo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.SmartContractExtraInfo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TransactionPool.ProfileGroupId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TransactionPool.ProfileGroupId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.TransactionPool?.TrackingId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
