@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Trackings.RegistriesModel

<div class="table-responsive mt-4">
    <table class="tracking-table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionRegistry[0].TrackingId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionRegistry[0].Code)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionRegistry[0].TriageDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TransactionRegistry[0].TransactionStep)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.TransactionRegistry)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TrackingId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TriageDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TransactionStep)
                    </td>
                    <td>
                        <a asp-page="./RegistryDetails" asp-route-id="@item.TrackingId">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
