@page
@model TrackingChain.TriageWebApplication.Pages.Admin.Smartcontracts.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SmartContract[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartContract[0].Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartContract[0].ChainNumberId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartContract[0].ChainType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SmartContract[0].Currency)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.SmartContract) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChainNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChainType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Currency)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
