@page
@model TrackingChain.TriageWebApplication.Pages.Admin.ProfileGroups.IndexModel

<div class="container mt-4">
    <a class="btn btn-primary" asp-page="Create">Create New</a>

    <div class="table-responsive mt-4">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroups[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroups[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroups[0].SmartContract)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroups[0].Priority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProfileGroups)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SmartContract.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="total-items">
        @{
            var itemShowEnd = Model.PageSize * (Model.ProfileGroups.PageIndex - 1) + Model.ProfileGroups.Count;
            var itemShowStart = itemShowEnd - Model.ProfileGroups.Count + 1;
        }
        Showing @itemShowStart of @itemShowEnd items out of @Model.TotalItems.
    </div>
    <div class="pagination">
        @if (Model.ProfileGroups.HasPreviousPage)
        {
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="1">First</a>
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.ProfileGroups.PageIndex - 1)">Previous</a>
        }

        @for (int i = Math.Max(1, Model.ProfileGroups.PageIndex - 2); i <= Math.Min(Model.ProfileGroups.TotalPages, Model.ProfileGroups.PageIndex + 2); i++)
        {
            <a class="page-link @(i == Model.ProfileGroups.PageIndex ? "active" : "")" asp-page="./Index" asp-route-pageIndex="@i">@i</a>
        }

        @if (Model.ProfileGroups.HasNextPage)
        {
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@(Model.ProfileGroups.PageIndex + 1)">Next</a>
            <a class="page-link" asp-page="./Index" asp-route-pageIndex="@Model.ProfileGroups.TotalPages">Last</a>
        }
    </div>
</div>
