@page
@model TrackingChain.TriageWebApplication.Pages.Admin.ProfileGroups.IndexModel

<div class="container mt-4">
    <a class="btn btn-primary" asp-page="Create">Create New</a>

    <div class="table-responsive mt-4">
        <table class="table custom-table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroup[0].Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroup[0].Category)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroup[0].SmartContract)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.ProfileGroup[0].Priority)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ProfileGroup)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Category)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.SmartContract.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Priority)
                        </td>
                        <td>
                            <a class="btn btn-info btn-sm" asp-page="./Edit" asp-route-id="@item.Id">Edit</a>
                            <a class="btn btn-info btn-sm" asp-page="./Details" asp-route-id="@item.Id">Details</a>
                            <a class="btn btn-danger btn-sm" asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
